PORT=4000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/iptv_reseller
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=12h
ADMIN_EMAIL=yusufmohamedyak55@gmail.com
ADMIN_PASSWORD=Admin
ADMIN_NAME=Parent Admin
FRONTEND_URL=http://localhost:5173
LOW_CREDIT_THRESHOLD=10
EXPIRY_ALERT_DAYS=5
